/* Thêm vào tệp CSS của bạn */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng thanh cuộn dọc */
  height: 3px; /* Độ cao thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2; /* Màu của tay cuộn */
  border-radius: 5px; /* Làm tròn các góc */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd; /* Màu khi hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của thanh cuộn */
  border-radius: 5px; /* Làm tròn các góc */
}
