html,
body {
  margin: 0;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background-color: #f3f4f6;
  font-size: 16px; /* Kích thước chữ mặc định */
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../../assets/font/SF-Pro-Display/SF-Pro-Display-Black.otf)
    format("otf");
  font-weight: normal;
  font-style: normal;
}

/* Responsive Typography */
@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}
@media print {
  .no-print {
    display: none !important;
  }
}
